#about {
	font-family: 'Lato', sans-serif;
	font-size: 3em;
	text-align: center;
	font-weight: 300;
	margin: 0.7em auto;
}

.about-col {
	padding: 1em;
}

.about-title {
	text-align: center;
}

#a-container {
	padding: 3em 2em;
}
