.first-parallax {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url('../images/pexels-photo-225767.jpg') fixed center no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 20em;
	height: 40em;
}

.introduction {
	text-align: center;
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: 2.4em;
	justify-content: center;
	font-weight: 300;
	color: #fff;
	width: 100%;
	margin: 6rem auto;
	height: auto;
	line-height: 150%;
}

#create {
	justify-content: center;
	margin: 10rem auto;
	font-size: 2.4rem;
	font-weight: 300;
	color: #fff;
	width: 100%;
	height: auto;
}

#second-parallax {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/farzad-nazifi-71686.jpg') fixed center no-repeat;
	background-size: cover;
	height: 30rem;
}

#third-parallax {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/sai-kiran-anagani-61187.jpg') fixed center no-repeat;
	background-size: cover;
	height: 30rem;
}

#About {
	margin: 2em auto;
}