#contact {
	font-family: 'Lato', sans-serif;
	font-size: 3em;
	text-align: center;
	font-weight: 300;
	margin: 1em auto;
}

#cont-intro {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: 300;
	margin: 1em auto;
}

#c-form {
	padding: 2em 0 3em 0;
}