#contact {
	font-size: 3em;
	margin: 1em auto;
}

#contact, #contact-intro {
	text-align: center;
}

#contact, #contact-intro, #links {
	font-weight: 300;
}

#contact-form {
	display: flex;
	justify-content: center;
}

#contact-intro {
	margin: 1em auto;
	width: 95%
}

#contact-button {
	margin: 0 0 4em 0;
	cursor: pointer;
	background-color: #0069ce;
}

#links {
	font-size: 3em;
}

#link-text {
	display: none;
}