#project-title {
	text-align: center;
	padding: 1em 0 1em 0;
	/*display: inline-block;*/
	width: 100%;
}

.project-img {
	position: relative;
}

.project-img {
	width: 100%;
	vertical-align: top;
}

.project-img:hover {
	background:rgba(0,0,0,0.6);
	opacity: 0.4;
	transition: ease .5s;
	-webkit-transition: all .5s;
}

.project-img:after {
	content: "More info";
	color: #fff;
}

#project-card {
	border: 1px inset #b4b4b4;
	box-shadow: 2px 2px 2px #282828;
	background-color: #000000;
}

