#projects {
	font-family: 'Lato', sans-serif;
	font-size: 3em;
	text-align: center;
	font-weight: 300;
	margin: 1em 0 .5em 0;
}

.project-item {
	padding: 50px;
}

#react-icon {
	padding: 0;
}

.dev {
	width: 100%;
	font-size: 4.1em;
	text-align: center;
	letter-spacing: .3em;
	padding: .2em 0 .2em .1em;
	line-height: .3em;
	margin: 0;
}

