#first-parallax {
  background: url('../images/sergey-zolkin-192937.jpg') fixed center no-repeat;
  background-size: cover;
  height: 33rem;
}

#second-parallax {
  background: url('../images/farzad-nazifi-71686.jpg') fixed center no-repeat;
  background-size: cover;
  height: 25rem;
}

#third-parallax {
  background: url('../images/sai-kiran-anagani-61187.jpg') fixed center no-repeat;
  background-size: cover;
  height: 30rem;
}
